.chart .panel {
  background-color: transparent;
}

.chart-title {
  font-weight: 600;
  text-align: center;
}

.chart-filters div{
  flex: 1 0 25%;
}

.chart .dc-chart {
  float: none;
}

.chart-datalist .disabled {
  color: color(var(--fontColor) a(50%))
}

.chart svg text {
  fill: black !important;
  font-weight: 400;
}