/* styleguide */
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: var(--fontFamily); font-weight: 200; letter-spacing: 0.01em;
}

body { min-width: 320px; color: var(--fontColor); background-color: var(--bodyBkgColor); line-height: 1.6; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: color( var(--fontColor) blackness(+20%) ); }

h2 { margin: 2em 0 1em 0; font-weight: 300; color: var(--fontColor); position: relative; }

.link a i { font-size: 200%; }

a, a:visited { text-decoration: none; color: var(--fontColor); }

a:hover { color: color(var(--fontColor) lightness(20%))}

.header {
  font-family: var(--fontFamily);
  margin: 0 auto; padding: 1em; text-align: center;
  letter-spacing: 0.05em;
}
.header h1 { font-size: 300%; font-weight: 100; margin: 0; }
.header h2 { font-size: 125%; font-weight: 100; line-height: 1.5; margin: 0; letter-spacing: -0.02em;
}

.spinner {
  visibility: hidden;
  float: right;
  z-index: -1;
}

.pending .spinner {
  visibility: visible;
}


.loading-wrapper {
  position: relative;
  width: 100%;
  min-height: 10em;
}

.loading {
  position: absolute;
  display: flex;
  z-index: 1;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  font-weight: bold;
  font-size: 130%;
  background-color: var(--bkgColor);
}

.loading >span {
  display: block;
  margin: auto;
}

.pure-button {
  margin-left: 1em;
}

.pure-button-primary {
  background-color: var(--primaryColor) !important;
}